:root{
    --oscuro: #2f2f2f;
    --blanco: #f2f2f2;
    --gris: #808080;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    color: var(--blanco);
    background-color: var(--oscuro);
    height: 5vh;
    padding-left: 1%;;
}
a{
    width: 100%;
    text-decoration: none;
    color: var(--gris);
}
a:hover{
    color: var(--blanco);
}
.labels{
    display:flex;
    justify-content: space-around;
    padding-left: 2%;
}
.tabla{
    border: solid 1px;
    border-collapse: collapse;
    margin-left: 25%;
    margin-top: 5%;
}
td{
    border: solid 1px;
}